.clientes{
    /* text-align: center; */
    display: grid;

}

.botoes{
    text-align: end;
}

.remover .modificar .visita{
    text-align: justify;
}


form{
    display: flex;
}

.cliente{
    grid-column: 1 / span 2;
}

