
button{
    margin: 0;
}

.descricao-cliente{
    font-size: 20px;
}

.form-item{
    margin:10px;
    width:200px;
    display: grid;
    }

body{
    background-color:blanchedalmond;
}

.titulo{
    font-size: 30px;
    margin:15px;
}

.sub-titulo{
    font-size: 25px;
}

.item{
    font-size: 15px;
    color: black;
    font-weight: bold;
}


.container{
    display: grid;
    grid-auto-flow: column;
    vertical-align: middle;
}

#saude{
    text-align: end;
}


.hide{
    display: none;
}

