{% extends "template.html" %}
{% block title %}Cadastro Clientes{% endblock %}



{% block head %}
    <link  type= "text/css" rel="stylesheet" href="../static/css/style.css">
 

{% endblock %}

{% block content %}

    <h1 class="titulo center">Cadastrar Paciente</h1>

    <div class="row">
        <form id="pacientes" class="col s12">



        <div class="row">
            <div class="form-item col s12">
                <label class="item center">Nome</label>
                <input type="text" id="nome"></input>
            </div>
            
        </div>

        <div class="row">            
            <div class="form-item col s12">
                <label class="item center">Data de Nascimento</label>
                <input type="date" id="nasicmento"></input>
            </div>
        </div>

        <div class="row">               
            <div class="form-item col s12">
                <label class="item center">Telefone</label>
                <input type="text" id="telefone"></input>
            </div>
        </div>


        <div class="row">
            <div class="form-item col s12">
                <label class="item center">E-mail</label>
                <input type="text" id="mail"></input>
            </div>
        </div>

        <div class="row">          

            <div class="form-item col s12">
                <label class="item center">Endereço</label>
                <input type="text" id="endereco"></input>
            </div>

        </div>

        <div class="row">            
            <div class="form-item col s12">
                <label class="item center">Bairro</label>
                <input type="text" id="bairro"></input>
            </div>
        </div>


        <div class="row"></div>

        <button class="btn waves-effect waves-light submeter " type="submit" name="action">Cadastrar
            <i class="material-icons right">add</i>
          </button>

       </form>

    </div>


{% endblock %}

{% block javascript %}        
<script src="/static/js/cadastro.js"></script>
{% endblock %} 


