{% extends "main.html" %}
{% block title %}Gerenciamento de Clientes{% endblock %}



{% block head %}
    
        <link  type= "text/css" rel="stylesheet" href="../static/css/style.css">
        <link  type= "text/css" rel="stylesheet" href="../static/css/client_list/client.css">


{% endblock %}

{% block content %}

    <section class="center">

        <h1 class="titulo">Gerenciamento de Clientes</h1>
        <form id="pacientes" data-id="">
        <div class=form-item>
            <label class="item">Nome</label>
            <input type="text" id="nome" value=""></input>
        </div>
        <div class=form-item>
            <label class="item">Data de Nascimento</label>
            <input type="date" id="nascimento" value=""></input>
        </div>
        <div class=form-item>
            <label class="item">Telefone</label>
            <input type="text" id="telefone"></input>
        </div>
        <div class=form-item>
            <label class="item">E-mail</label>
            <input type="text" id="mail"></input>
        </div>
        <div class=form-item>
            <label class="item">Endereço</label>
            <input type="text" id="endereco"></input>
        </div>
        <div class=form-item>
            <label class="item">Bairro</label>
            <input type="text" id="bairro"></input>
        </div>
        </form>

    </section>

    <button class="concluir-modificacao">Concluir Modificação</button>

    <div class="container">
    <h2 class="sub-titulo">Clientes Cadastrados</h2>
    <ul class="clientes">
    {% for cliente in clientes %}
    <li class='cliente' data-id={{cliente.id}}>{{cliente.nome}}
        <div class="botoes">
        <button class="remover">Remover</button>
        <button class="modificar">Modificar</button>
        <button class="visita">Visita</button>
        </div>
    </li>
    {% endfor %}
    </ul>
    </div>


{% endblock %}

{% block scripts %} 

    <script src="../static/js/client_list/client.js"></script>
    <script src="../static/js/jquery-3.5.1.js"></script>

{% endblock %}




</html>

