<!DOCTYPE html>
<html>
    <head>
        <link  type= "text/css" rel="stylesheet" href="../static/css/style.css">
        <link  type= "text/css" rel="stylesheet" href="../static/css/index.css">
        <link  type= "text/css" rel="stylesheet" href="../static/css/materialize.css">
    </head>
    <body>
        <h1 class="titulo">Registro de Prontuário Pacientes</h1>
        <ul class="menu center">
        <button class="client">Gerenciamento de Clientes</button>
        </ul>
    </body>
    <script src="../static/js/index.js"></script>
</html>

